
<p class="btn btn-block col-4 flex-center white-text black mb-2" style="cursor: pointer" (click)="revertToOriginalData()"
   [mdbTooltip]="retrieveOrigBtnTooltip">
  Revert to original
</p>
<table mdbTable class="p-4">
  <thead class="z-depth-5 black">
  <tr>
    <th *ngFor="let head of headElements" scope="col" (click)="sort(head)" style="cursor: pointer"
        [ngClass]="sortedColumn === head ? 'red-text' : 'white-text'">
      <span [mdbTooltip]="sortedColumn === head ? sortedColTooltip : clickToSortTooltip">{{head}}</span> </th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let el of elements" (click)="openModal(el)" style="cursor: pointer" class="white pl-5" mdbWavesEffect>
    <td >{{el.firstName}}</td>
    <td>{{el.lastName}}</td>
    <td>{{el.role}}</td>
    <td>{{el.country}}</td>
      <td><mdb-icon far icon="eye" [mdbTooltip]="viewMoreTooltip"></mdb-icon></td>
  </tr>
  </tbody>
</table>

